<h1>Endpoints Overview:</h1>

<% @endpoints.each do |endpoint| %>
  
  <ul>
    <li>
      <b>/<%= endpoint[0] %>:</b>
      <ul>
        <li><b>file:</b> <%= endpoint[1]["file"] %></li>
      </ul>
    </li>
  </ul>
  
<% end %>
